.promo {
    width: auto;
    min-height: 770px;   /* 100vh !!! от ширины экрана пользователя */
    position: relative;   
    background-color: #BEE9FC;
    padding-top: 50px;
    &__title {
        width: 540px;
    }
    &__reboot {
        position: relative;
        width: 750px;

    }

    &__btns {
        margin-top: 25px;
        display: flex;
        width: 500px;
        justify-content: space-between;
    }
    &__link {
        color: white;
        font-weight: bold;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.user_photo {
    width: 520px;
    height: 677px;
    position: absolute;
    top: -137px;
    right: -350px;
}

.reboot_logo {
    width: 140px;
    height: 140px;
    position: absolute;
    top: -190px;
    right: 620px;
}

.reboot_logo_animated {
    animation-name: logorotation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 3;
    animation-delay: 1s;

}