.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &__slogan {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        color: #000000;
        text-align: left;
    }
    &__reboot {
        font-weight: 700;
        line-height: 80px;
        font-size: 68px;
        margin-top: 180px;
    }
    &__reb {
        color: $main-color;
    }
    &__adress {
        font-weight: 700;
        font-size: 35px;
        margin-top: 25px;
    }
    
}